*{list-style: none;}

body{background-image: url(https://thumbs.dreamstime.com/b/majestic-rainbow-arch-over-calm-ocean-waters-stunning-full-arcs-across-sunset-vibrant-colors-reflected-still-water-356679988.jpg); height: 200vh;
 background-size: cover; position: fixed;   width: 100%;}

.üst{display: flex; justify-content: center; align-items: center;}

.alt{display: flex; justify-content: center; align-items: center;}

.kaydol{margin-top: 200px; border-radius: 20px;}

.kaydol input{border-radius: 20px; border: 1px solid black; height: 50px; width: 250px; border-radius: 30px;}

.submit input{margin-left: 220px; width: 100px; background-color: violet; border: 3px solid purple;}

.alt ul li input{text-align: center;}
.üst ul li input{text-align: center;}

.enter b{ color: black; margin-left: 70px;}

.enter a{text-decoration: none; color: red;}
.enter a:hover{text-decoration: underline;}

input{margin-top: -10px; display: block;}

.main button{margin-left: 500px; margin-top: 200px; width: 520px; height: 550px; border-radius: 20px;
 background: linear-gradient(150deg, purple 50%, cyan 100%);
}
.kaydol h1{margin-left: 70px; color: red;}

.kaydol{margin-top: -75px;}



